extends layout

block content
    main#main
        div.
            지금 구성처럼, 페이지가 이동해서<br>
            계정 설정을 하는거~
        form
            input( type="text" placeholder="아이디" )
            input( type="password" placeholder="비밀번호" )
            button 연결ㄹㄹ