div.nc-content
    ul#guide.collection
        li.collection-item: div: a( href="javascript:void(0)" data-child="gc-music" ).gc-bul#gp-music 뮤직 <i class="material-icons" id="gc-icon">keyboard_arrow_down</i>
        ul#gc-music.guide-child-list
            li: a( href="javascript:void(0)" data-nc="/melon-guide" data-label="멜론 활용하기" ).nc 멜론 <i class="material-icons">keyboard_arrow_right</i>
            li: a( href="javascript:void(0)" ) 멜론 어린이 <i class="material-icons">keyboard_arrow_right</i>
        li.collection-item: div: a( href="javascript:void(0)" ) 스마트홈 <i class="material-icons">keyboard_arrow_down</i>
        li.collection-item: div: a( href="javascript:void(0)" ) 미디어 <i class="material-icons">keyboard_arrow_down</i>
        li.collection-item: div: a( href="javascript:void(0)" ) 주문/배달 <i class="material-icons">keyboard_arrow_down</i>
        li.collection-item: div: a( href="javascript:void(0)" ) 교통 <i class="material-icons">keyboard_arrow_down</i>
        li.collection-item: div: a( href="javascript:void(0)" data-child="gc-tip" )#gp-tip.gc-bul 개인비서 <i class="material-icons">keyboard_arrow_down</i>
        ul#gc-tip.guide-child-list
            li: a( href="javascript:void(0)" ) 위키피디아 <i class="material-icons">keyboard_arrow_right</i>
            li: a( href="javascript:void(0)" ) 구글캘린더 <i class="material-icons">keyboard_arrow_right</i>
            li: a( href="javascript:void(0)" data-nc="/weather-guide" data-label="날씨 활용하기" ).nc 날씨 <i class="material-icons">keyboard_arrow_right</i>
            li: a( href="javascript:void(0)" ) 날짜시간확인 <i class="material-icons">keyboard_arrow_right</i>
        li.collection-item: div: a( href="javascript:void(0)" ) 유용한기능 <i class="material-icons">keyboard_arrow_down</i>
        li.collection-item: div: a( href="javascript:void(0)" ) 오락 <i class="material-icons">keyboard_arrow_down</i>
        li.collection-item: div: a( href="javascript:void(0)" ) 스포츠 <i class="material-icons">keyboard_arrow_down</i>
        li.collection-item: div: a( href="javascript:void(0)" ) 내가 설치한 APP <span class="custom-badge">3</span> <i class="material-icons">keyboard_arrow_down</i>
        li.collection-item: div: a( href="javascript:void(0)" ) 내가 설치한 APP