extends layout/mobile

block content
    p.center.
        T 아이디로 로그인 해 주세요.<br>
    
    form.row
        div.input-field.col.s12
            input( type="text" )#account.validate
            label( for="account" ) T 아이디

        div.input-field.col.s12
            input( type="password" )#account.validate
            label( for="account" ) 비밀번호
        
        div.input-field.col.s12
            a( href="/melon2" )#test-submit.grey.darken-2.waves-effect.waves-light.btn 연결