extends layout/ptype

block content
    main#main
        ul#cards
            li.grid-size

            li.cd.t3
                .card-wrap.card-color.ww
                    .cd-content
                        img( src="/images/welcome.jpg" ).welcome