extends layout/ptype

block content
    main#main
        ul.collection
            a( href="/ptype/tid" ).collection-item: div 기기연결 / 최초실행 <span class="secondary-content"><i class="material-icons">keyboard_arrow_right</i></span>
            a( href="/ptype" ).collection-item: div Nav A타입 <span class="secondary-content"><i class="material-icons">keyboard_arrow_right</i></span>
            a( href="/ptype/b" ).collection-item: div Nav B타입 <span class="secondary-content"><i class="material-icons">keyboard_arrow_right</i></span>