extends ../layout/ptype

block content
    include store_header
    main#main.has-tabs

        //- recomm
        #recommandation.col.s12
            ul.store-list.sl0
                li.sli.sli0
                    a( href="/ptype/store/sample" ).sl-link.waves-effect
                        img( src="/images/apps/i0.png" )
                        header
                            h1 7분운동
                            h2 헬스

                        ul.stars
                            li: i.material-icons star
                            li: i.material-icons star
                            li: i.material-icons star
                            li: i.material-icons star_border
                            li: i.material-icons star_border

                li.sli.sli0
                    img( src="/images/apps/i1.png" )
                    header
                        h1 EBS
                        h2 교육

                    ul.stars
                        li: i.material-icons star
                        li: i.material-icons star_border
                        li: i.material-icons star_border
                        li: i.material-icons star_border
                        li: i.material-icons star_border
                
                li.sli.sli0
                    img( src="/images/apps/i2.png" )
                    header
                        h1 JTBC 뉴스룸
                        h2 뉴스&amp;라디오

                    ul.stars
                        li: i.material-icons star
                        li: i.material-icons star_border
                        li: i.material-icons star_border
                        li: i.material-icons star_border
                        li: i.material-icons star_border

                li.sli.sli0
                    img( src="/images/apps/i3.png" )
                    header
                        h1 아기울음 분석기
                        h2 라이프스타일

                    ul.stars
                        li: i.material-icons star
                        li: i.material-icons star_border
                        li: i.material-icons star_border
                        li: i.material-icons star_border
                        li: i.material-icons star_border
                
                li.sli.sli0
                    img( src="/images/apps/i4.png" )
                    header
                        h1 우리집 지킴이
                        h2 스마트홈

                    ul.stars
                        li: i.material-icons star
                        li: i.material-icons star_border
                        li: i.material-icons star_border
                        li: i.material-icons star_border
                        li: i.material-icons star_border

                li.sli.sli0
                    img( src="/images/legend.jpg" )
                    header
                        h1 송대관의 노래와 인생
                        h2 스마트홈

                    ul.stars
                        li: i.material-icons star
                        li: i.material-icons star
                        li: i.material-icons star
                        li: i.material-icons star
                        li: i.material-icons star
        
        //- cat
        #category.col.s12
            ul.store-list.sl1
                li.sli.sli1
                    i.material-icons.sli-circle music_note
                    h3 뮤직
                    i.material-icons.d0 keyboard_arrow_right

                li.sli.sli1
                    i.material-icons.sli-circle music_note
                    h3 건강
                    i.material-icons.d0 keyboard_arrow_right

                li.sli.sli1
                    i.material-icons.sli-circle music_note
                    h3 게임
                    i.material-icons.d0 keyboard_arrow_right

                li.sli.sli1
                    i.material-icons.sli-circle music_note
                    h3 금융
                    i.material-icons.d0 keyboard_arrow_right

                li.sli.sli1
                    i.material-icons.sli-circle music_note
                    h3 교육
                    i.material-icons.d0 keyboard_arrow_right

                li.sli.sli1
                    i.material-icons.sli-circle music_note
                    h3 날씨
                    i.material-icons.d0 keyboard_arrow_right

                li.sli.sli1
                    i.material-icons.sli-circle music_note
                    h3 여행&amp;교통
                    i.material-icons.d0 keyboard_arrow_right

                li.sli.sli1
                    i.material-icons.sli-circle music_note
                    h3 뉴스/라디오
                    i.material-icons.d0 keyboard_arrow_right

                li.sli.sli1
                    i.material-icons.sli-circle music_note
                    h3 라이프스타일
                    i.material-icons.d0 keyboard_arrow_right

                li.sli.sli1
                    i.material-icons.sli-circle music_note
                    h3 엔터테인먼트
                    i.material-icons.d0 keyboard_arrow_right

                li.sli.sli1
                    i.material-icons.sli-circle music_note
                    h3 소셜 네트워크
                    i.material-icons.d0 keyboard_arrow_right

                li.sli.sli1
                    i.material-icons.sli-circle music_note
                    h3 쇼핑/배달
                    i.material-icons.d0 keyboard_arrow_right

                li.sli.sli1
                    i.material-icons.sli-circle music_note
                    h3 스포츠
                    i.material-icons.d0 keyboard_arrow_right

                li.sli.sli1
                    i.material-icons.sli-circle music_note
                    h3 요리
                    i.material-icons.d0 keyboard_arrow_right

                li.sli.sli1
                    i.material-icons.sli-circle music_note
                    h3 스마트홈
                    i.material-icons.d0 keyboard_arrow_right

                li.sli.sli1
                    i.material-icons.sli-circle music_note
                    h3 이북/매거진
                    i.material-icons.d0 keyboard_arrow_right

        //- my app
        #my-app.col.s12
            ul.store-list.sl1
                li.sli.sli0
                    img( src="/images/apps/i0.png" )
                    header
                        h1 7분운동
                        h2 헬스

                    ul.stars
                        li: i.material-icons star
                        li: i.material-icons star
                        li: i.material-icons star
                        li: i.material-icons star_border
                        li: i.material-icons star_border

                li.sli.sli0
                    img( src="/images/apps/i3.png" )
                    header
                        h1 EBS
                        h2 교육

                    ul.stars
                        li: i.material-icons star
                        li: i.material-icons star_border
                        li: i.material-icons star_border
                        li: i.material-icons star_border
                        li: i.material-icons star_border
                
                li.sli.sli0
                    img( src="/images/apps/i5.png" )
                    header
                        h1 JTBC 뉴스룸
                        h2 뉴스&amp;라디오

                    ul.stars
                        li: i.material-icons star
                        li: i.material-icons star_border
                        li: i.material-icons star_border
                        li: i.material-icons star_border
                        li: i.material-icons star_border