.row.header-tabs
    .col.s12.darkone
        ul.tabs.darkone
            li.tab.col.s4.tabs-fixed-width: a( href="#recommandation" ).active 추천
            li.tab.col.s4.tabs-fixed-width: a( href="#category" ) 카테고리
            li.tab.col.s4.tabs-fixed-width: a( href="#my-app" ) 나의 앱