doctype html
html
    head
        meta( charset="utf-8" )
        meta( name="viewport" content="width=device-width, initial-scale=1.0" )
        title NUGU - Management
        
        link( href="/stylesheets/material-icons.css" rel="stylesheet" )
        link( href="/stylesheets/materialize.css" type="text/css" rel="stylesheet" )
        link( href="/stylesheets/management.css" type="text/css" rel="stylesheet" )
    body
        block content
        
        //- Lib
        //- vue
        script( src="/bower_components/vue/dist/vue.runtime.min.js" )
        //- GSAP
        script( src="/bower_components/gsap/src/minified/TimelineMax.min.js" )
        script( src="/bower_components/gsap/src/minified/TweenMax.min.js" )
        script( src="/bower_components/gsap/src/minified/plugins/CSSPlugin.min.js" )
        //- jQuery
        script( src="/bower_components/jquery/dist/jquery.min.js" )
        //- Materialize
        script( src="/bower_components/materialize/dist/js/materialize.min.js" )
        //- D3
        script( src="/bower_components/d3/d3.min.js" )

        //- Javascripts
        script( src="/javascripts/management.js" )