- var navType = 'current'
//- SNB
ul#slide-out.side-nav
    li.userInfo
        a( href="#!name" ): span( class="name" ) Soon Siri
        a( href="#!email" ): span( class="email" ) siri@apple.com
    
    li: a( href="#!" ) <i class="material-icons">lightbulb_outline</i> NUGU 활용하기
    li: a( href="/store/" ) <i class="material-icons">shop</i> NUGU 스토어
    li: a( href="#!" ) <i class="material-icons">announcement</i> 공지사항
    li: a( href="#!" ) <i class="material-icons">insert_emoticon</i> 이벤트
    li: a( href="#!" ) <i class="material-icons">perm_device_information</i> 디바이스 정보 및 관리
    li: a( href="#!" ) <i class="material-icons">settings</i> 설정
    li: a( href="#!" ) <i class="material-icons">help_outline</i> 고객센터

header#global-nav
    nav
        div.nav-wrapper
            a( href="#" class="brand-logo center")#logo= title
            
            ul#nav-mobile.left
                - if ( !root )
                    li: a( href="javascript:history.back()" class="back" ): i.material-icons keyboard_arrow_left
                - else
                    li: a( href="#" data-activates="slide-out" class="snb" ): i.material-icons menu
            
            ul#nav-mobile2.right
                - if ( title == "STORE" )
                    li: a( href="#!" )#open-search: i.material-icons search
                - else
                    li: a( href="#!" )#open-apps: i.material-icons apps

//- Service Nav
#apps
    .clear
        a( href="#!" )#close-apps: i.material-icons.small clear
    ul.apps-list
        li.app-item
            div.circle-item.light-blue.lighten-2
                i.material-icons.medium.vertical-align music_note
            span 뮤직
        li.app-item
            div.circle-item.blue.lighten-1
                i.material-icons settings_remote
            span 스마트홈
        li.app-item
            div.circle-item.red.lighten-1
                i.material-icons video_library
            span 미디어
        li.app-item
            div.circle-item.yellow
                i.material-icons motorcycle
            span 주문/배달
        li.app-item
            div.circle-item.indigo.darken-2
                i.material-icons assignment_ind
            span 개인비서
        li.app-item
            div.circle-item.orange.lighten-1
                i.material-icons accessibility
            span 유용한기능
        li.app-item
            div.circle-item.pink.lighten-1
                i.material-icons tv
            span BTV??

//- Playbacks
#playback
    .clear
        header#pb-header
            #cover
            a( href="#!" )#pb-collapse: i.material-icons keyboard_arrow_down

            #pb-track
                #pb-thumb
                #pb-current
                    span 1:20

        #pb-control
            header
                //- h1 Pay No Mind(feat. Passion Pit)
                //- h2 Madeon
                //- h3 Adventure(Deluxe)
                h1 네박자(feat. Alessia Cara)
                h2 송대관
                h3 노래와人生
            
            //- playbacks!
            .playback-container
                .playbacks.clear
                    //- a( href="#!" )#pb-playlist: i.material-icons list
                    a( href="#!" )#pb-prev: i.material-icons.medium skip_previous
                    a( href="#!" )#pb-play: i.material-icons.medium pause_circle_filled
                    a( href="#!" )#pb-next: i.material-icons.medium skip_next

            .pb-volume-track
                #pb-vol: i.material-icons volume_mute
                #pb-volume-thumb
                #pb-volume-selector

            #pb-playlist: i.material-icons list

//- pb mini
#playback-mini.clear
    #pbm-cover.fl
        img( src="/images/legend.jpg" )
    
    #pbm-info.fl
        h1 네박자 네박자
        h2 송대관 - Greatest Song
    
    #pbm-pb.fl
        a(href="#!")#pbm-play: i.material-icons.medium pause_circle_filled
        a( href="#!" )#pbm-next: i.material-icons.medium fast_forward
    
    #pbm-vol.fl
        i.material-icons volume_up
