extends layout/mobile

block content
    main#main-2
        div#hidden-status-container
            ul#hidden-status
                li.cd.status2.t3
                    .card-wrap.black
                        div.cd-content
                            i.close-test-status.material-icons highlight_off
                            header
                                //- i.material-icons local_pizza
                                p.status-title 도미노피자 주문완료
                            div.clear
                                p.desc 포테이토 피자 + 코카콜라 1.5리터
                                p.desc 24,000원
                                p.desc 배달중

                li.cd.status2.t3
                    .card-wrap.black
                        div.cd-content
                            i.close-test-status.material-icons highlight_off
                            header
                                //- i.material-icons local_pizza
                                p.status-title 콜택시 접수완료
                            div.clear
                                p.desc 벤츠 SL, 서울 바 3706
                                p.desc 나훈아
                                p.desc 이동중

                li.cd.status2.t3
                    .card-wrap.black
                        div.cd-content
                            i.close-test-status.material-icons highlight_off
                            header
                                //- i.material-icons local_pizza
                                p.status-title 도미노피자 주문완료
                            div.clear
                                p.desc 포테이토 피자 + 코카콜라 1.5리터
                                p.desc 24,000원
                                p.desc 배달중

                li.cd.status2.t3
                    .card-wrap.black
                        div.cd-content
                            i.close-test-status.material-icons highlight_off
                            header
                                //- i.material-icons local_pizza
                                p.status-title 콜택시 접수완료
                            div.clear
                                p.desc 벤츠 SL, 서울 바 3706
                                p.desc 나훈아
                                p.desc 이동중

        ul#cards
            li.grid-size

            h3.cd.cd-title.t3 Grid

            li.cd.skills.t3
                .card-wrap.light-blue.lighten-2
                    div.cd-content

            li.cd.skills.t2
                .card-wrap.light-blue.lighten-2
                    div.cd-content

            li.cd.skills.t1
                .card-wrap.light-blue.lighten-2
                    div.cd-content

            li.cd.skills.t1
                .card-wrap.light-blue.lighten-2
                    div.cd-content

            li.cd.skills.t2
                .card-wrap.light-blue.lighten-2
                    div.cd-content

            li.cd.skills.t3
                .card-wrap.light-blue.lighten-2
                    div.cd-content

            h3.cd.cd-title.t3 Events

            li.cd.event.t3
                .card-wrap.lighten-2
                    div.cd-content
                        img( src="/images/sample/0x0ss-85.jpg" )

            li.cd.event.t3
                .card-wrap.lighten-2
                    div.cd-content
                        img( src="/images/sample/0x0ss-85-1.jpg" )

            li.cd.event.t3
                .card-wrap.lighten-2
                    div.cd-content
                        img( src="/images/sample/flowcase_680_260_1x_2x-1.jpg" )

            li.cd.event.t2
                .card-wrap.light-blue.lighten-2
                    div.cd-content
                        img( src="/images/sample/flowcase_680_260_1x_2x.jpg" )

            li.cd.event.t1
                .card-wrap.light-blue.lighten-2
                    div.cd-content
                        img( src="/images/sample/thanks_to_you_process_1_large_2x.png" )

            li.cd.event.t3
                .card-wrap.lighten-2
                    div.cd-content
                        img( src="/images/sample/flowcase_680_260_1x_2x-2.jpg" )
            
            li.cd.event.t1
                .card-wrap.light-blue.lighten-2
                    div.cd-content
                        img( src="/images/sample/thanks_to_you_process_1_large_2x.png" )

            li.cd.event.t2
                .card-wrap.light-blue.lighten-2
                    div.cd-content
                        img( src="/images/sample/flowcase_680_260_1x_2x-3.jpg" )

            h3.cd.cd-title.t3 Skills
            
            li.cd.skills.t3
                .card-wrap.light-blue.lighten-2
                    div.cd-content
                        header <i class="medium material-icons">directions_run</i>
                        div
                            p.quote 아리아,<br>7분 운동 시작해줘
                            p.quotes 아리아, 10분 운동 시작해줘
                            p.quotes 아리아, 10분 다리 운동 시작해줘
                        p.desc.
                            장소에 시간에 구애받지 않고 시작할 수 있는
                            검증된 7분 운동법입니다. 프라임 계정 결제 후
                            더 체계적인 운동관리를 받아보세요.

                    footer.cd-footer.light-blue.clear
                        i.material-icons.cd-fr-icon file_download
                        a( href="/account" ).fr.dis <b>7분 운동</b> 다운받기

            li.cd.skills.t3
                .card-wrap.light-blue.lighten-2
                    div.cd-content
                        header <i class="medium material-icons">directions_run</i>
                        div
                            p.quote 아리아,<br>7분 운동 시작해줘
                            p.quotes 아리아, 10분 운동 시작해줘
                            p.quotes 아리아, 10분 다리 운동 시작해줘

                    footer.cd-footer.light-blue.clear
                        i.material-icons.cd-fr-icon add_circle_outline
                        a( href="/account" ).fr.dis <b>7분 운동</b> 추가하기

            li.cd.skills.t3
                .card-wrap.light-blue.darken-3
                    div.cd-content
                        header <i class="medium material-icons">directions_run</i>
                        div
                            p.quote 아리아,<br>7분 운동 시작해줘
                            p.quotes 아리아, 10분 운동 시작해줘
                            p.quotes 아리아, 10분 다리 운동 시작해줘

                    footer.cd-footer.light-blue.darken-4.clear
                        p.desc2.
                            장소에 시간에 구애받지 않고 시작할 수 있는
                            검증된 7분 운동법입니다. 프라임 계정 결제 후
                            더 체계적인 운동관리를 받아보세요.
                        div.clear.al
                            i.material-icons.cd-fr-icon keyboard_arrow_right
                            a( href="/account" ).fr.dis 스토어로 이동

            li.cd.skills.t3
                .card-wrap.light-blue.darken-3
                    div.cd-content
                        header <i class="medium material-icons">directions_run</i>
                        div
                            p.quote 아리아,<br>7분 운동 시작해줘

                    footer.cd-footer.light-blue.darken-4.clear
                        p.desc2.
                            장소에 시간에 구애받지 않고 시작할 수 있는
                            검증된 7분 운동법입니다. 프라임 계정 결제 후
                            더 체계적인 운동관리를 받아보세요.
                        
                        div.clear.al
                            i.material-icons.cd-fr-icon keyboard_arrow_right
                            a( href="/account" ).fr.dis 스토어로 이동

            li.cd.skills.t3
                .card-wrap.light-blue.darken-3
                    div.cd-content
                        header <i class="medium material-icons">directions_run</i>
                        div
                            p.quote 아리아,<br>7분 운동 시작해줘

                    footer.cd-footer.light-blue.darken-4.clear
                        i.material-icons.cd-fr-icon keyboard_arrow_right
                        a( href="/account" ).fr.dis 스토어로 이동

            li.cd.skills.t3
                .card-wrap.light-blue.lighten-2
                    div.cd-content
                        header <i class="medium material-icons">fitness_center</i>
                        div
                            p.quote 아리아,<br>7분 운동 시작해줘
                            p.quotes 아리아, 10분 운동 시작해줘
                            p.quotes 아리아, 10분 다리 운동 시작해줘

                    footer.cd-footer.light-blue.clear
                        i.material-icons.cd-fr-icon panorama_fish_eye
                        a( href="/account" ).fr.dis 활성화

            li.cd.skills.t3
                .card-wrap.light-blue.lighten-2
                    div.cd-content
                        header <i class="test-size material-icons">restaurant</i>
                        div
                            p.quote 아리아,<br>점심 뭐 먹지?
                            p.quotes 아리아, 한식 추천해줘
                            p.quotes 아리아, 요즘 뭐가 맛있어?

                    footer.cd-footer.light-blue.clear
                        p.desc2.clear.
                            '비오는날이고, 매운 음식을 좋아하시니 짬뽕 어때요?'<br>
                            계절, 날씨, 지역, 입맛에 맞는 음식 메뉴 추천!<br>
                            <br>
                        i.material-icons.cd-fr-icon add_circle_outline
                        a( href="/account" ).fr.dis 내 확장 기능에 추가

            li.cd.skills.t3.mini
                .card-wrap.light-blue.lighten-2
                    div.cd-content
                        header
                            i.material-icons.medium shop
                            p.quote 앱 마켓 오픈!
                        div.clear
                            p.fl.dis Lorem ipsum dolor sit amet, consectetur!!
                            i.material-icons.cd-fr-icon keyboard_arrow_right
            
            h3.cd.cd-title.t3 Mix
            
            li.cd.status.t3.mini#status-domino
                .card-wrap.black
                    div.cd-content
                        i.close-test-status.material-icons highlight_off
                        header
                            //- i.material-icons local_pizza
                            p.status-title 도미노피자 주문완료
                        div.clear
                            p.desc 포테이토 피자 + 코카콜라 1.5리터
                            p.desc 24,000원
                            p.desc 배달중

            li.cd.status.t3.mini#status-taxi
                .card-wrap.black
                    div.cd-content
                        i.close-test-status.material-icons highlight_off
                        header
                            //- i.material-icons local_pizza
                            p.status-title 콜택시 접수완료
                        div.clear
                            p.desc 벤츠 SL, 서울 바 3706
                            p.desc 나훈아
                            p.desc 이동중

            li.cd.skills.t3
                .card-wrap.red.darken-2
                    div.cd-content
                        header <i class="medium material-icons">directions_run</i>
                        div
                            p.quote 아리아,<br>7분 운동 시작해줘
                            p.quotes 아리아, 10분 운동 시작해줘
                            p.quotes 아리아, 10분 다리 운동 시작해줘

                    footer.cd-footer.red.darken-4.clear
                        i.material-icons.cd-fr-icon add_circle_outline
                        a( href="/account" ).fr.dis <b>7분 운동</b> 추가하기

            li.cd.event.t2
                .card-wrap.light-blue.lighten-2
                    div.cd-content
                        img( src="/images/sample/flowcase_680_260_1x_2x.jpg" )

            li.cd.event.t1
                .card-wrap.light-blue.lighten-2
                    div.cd-content
                        img( src="/images/sample/thanks_to_you_process_1_large_2x.png" )

            li.cd.skills.t3
                .card-wrap.red.darken-2
                    div.cd-content
                        header <i class="medium material-icons">directions_run</i>
                        div
                            p.quote 아리아,<br>7분 운동 시작해줘
                            p.quotes 아리아, 10분 운동 시작해줘
                            p.quotes 아리아, 10분 다리 운동 시작해줘

                    footer.cd-footer.red.darken-4.clear
                        i.material-icons.cd-fr-icon add_circle_outline
                        a( href="/account" ).fr.dis <b>7분 운동</b> 추가하기

            li.cd.event.t3
                .card-wrap.lighten-2
                    div.cd-content
                        img( src="/images/sample/flowcase_680_260_1x_2x-1.jpg" )

            li.cd.skills.t3
                .card-wrap.red.darken-2
                    div.cd-content
                        header <i class="medium material-icons">directions_run</i>
                        div
                            p.quote 아리아,<br>7분 운동 시작해줘
                            p.quotes 아리아, 10분 운동 시작해줘
                            p.quotes 아리아, 10분 다리 운동 시작해줘

                    footer.cd-footer.red.darken-4.clear
                        i.material-icons.cd-fr-icon add_circle_outline
                        a( href="/account" ).fr.dis <b>7분 운동</b> 추가하기

            li.cd.event.t3
                .card-wrap.lighten-2
                    div.cd-content
                        img( src="/images/sample/0x0ss-85.jpg" )

            li.cd.skills.t3
                .card-wrap.light-blue.lighten-2
                    div.cd-content
                        header <i class="test-size material-icons">restaurant</i>
                        div
                            p.quote 아리아,<br>점심 뭐 먹지?
                            p.quotes 아리아, 한식 추천해줘
                            p.quotes 아리아, 요즘 뭐가 맛있어?

                    footer.cd-footer.light-blue.clear
                        p.desc2.clear.
                            '비오는날이고, 매운 음식을 좋아하시니 짬뽕 어때요?'<br>
                            계절, 날씨, 지역, 입맛에 맞는 음식 메뉴 추천!<br>
                            <br>
                        i.material-icons.cd-fr-icon add_circle_outline
                        a( href="/account" ).fr.dis 내 확장 기능에 추가

            li.cd.skills.t3.mini
                .card-wrap.light-blue.lighten-2
                    div.cd-content
                        header
                            i.material-icons.medium shop
                            p.quote 앱 마켓 오픈!
                        div.clear
                            p.fl.dis Lorem ipsum dolor sit amet, consectetur!!
                            i.material-icons.cd-fr-icon keyboard_arrow_right
                
            li.cd.skills.t3
                .card-wrap.light-blue.darken-3
                    div.cd-content
                        header <i class="medium material-icons">directions_run</i>
                        div
                            p.quote 아리아,<br>7분 운동 시작해줘
                            p.quotes 아리아, 10분 운동 시작해줘
                            p.quotes 아리아, 10분 다리 운동 시작해줘

                    footer.cd-footer.light-blue.darken-4.clear
                        p.desc2.
                            장소에 시간에 구애받지 않고 시작할 수 있는
                            검증된 7분 운동법입니다. 프라임 계정 결제 후
                            더 체계적인 운동관리를 받아보세요.
                        div.clear.al
                            i.material-icons.cd-fr-icon keyboard_arrow_right
                            a( href="/account" ).fr.dis 스토어로 이동

            li#test-card-1.cd.event.t2
                .card-wrap.light-blue.darken-4
                    div.cd-content
                        p ahhhhhh

            li#test-card-0.cd.event.t1
                .card-wrap.light-blue.darken-4
                    div.cd-content
                        i.material-icons.medium shopping_basket
                        div 앱마켓 >
            
            li.cd.skills.t3
                .card-wrap.light-blue.darken-4
                    div.cd-content
                        header <i class="medium material-icons">directions_run</i>
                        div
                            p.quote 아리아,<br>7분 운동 시작해줘
                            p.quotes 아리아, 10분 운동 시작해줘
                            p.quotes 아리아, 10분 다리 운동 시작해줘

















