extends layout/mobile

block content
    main#main
        ul#cards
            li.grid-size

            h3.cd.cd-title.t3 Grid
            li.cd.event.t3
                .card-wrap.light-blue.lighten-2
                    div.cd-content

            li.cd.skills.t2
                .card-wrap.light-blue.lighten-2
                    div.cd-content

            li.cd.skills.t1
                .card-wrap.light-blue.lighten-2
                    div.cd-content

            li.cd.skills.t1
                .card-wrap.light-blue.lighten-2
                    div.cd-content

            li.cd.skills.t2
                .card-wrap.light-blue.lighten-2
                    div.cd-content

            li.cd.skills.t3
                .card-wrap.light-blue.lighten-2
                    div.cd-content

            h3.cd.cd-title.t3 Example

            li.cd.event.t3
                .card-wrap.lighten-2
                    div.cd-content
                        img( src="/images/sample/0x0ss-85.jpg" )

            li.cd.event.t3
                .card-wrap.lighten-2
                    div.cd-content
                        img( src="/images/sample/0x0ss-85-1.jpg" )

            li.cd.event.t3
                .card-wrap.lighten-2
                    div.cd-content
                        img( src="/images/sample/flowcase_680_260_1x_2x-1.jpg" )

            li.cd.event.t2
                .card-wrap.light-blue.lighten-2
                    div.cd-content
                        img( src="/images/sample/flowcase_680_260_1x_2x.jpg" )

            li.cd.event.t1
                .card-wrap.light-blue.lighten-2
                    div.cd-content
                        img( src="/images/sample/thanks_to_you_process_1_large_2x.png" )

            li.cd.event.t3
                .card-wrap.lighten-2
                    div.cd-content
                        img( src="/images/sample/flowcase_680_260_1x_2x-2.jpg" )
            
            li.cd.event.t1
                .card-wrap.light-blue.lighten-2
                    div.cd-content
                        img( src="/images/sample/thanks_to_you_process_1_large_2x.png" )

            li.cd.event.t2
                .card-wrap.light-blue.lighten-2
                    div.cd-content
                        img( src="/images/sample/flowcase_680_260_1x_2x-3.jpg" )


            //- Jin's cards
            
        //-            
            //- Jin: default( tutorial )
            li.cd.tutorial
                .card-wrap.light-blue.lighten-2
                    div.cd-content
                        header <i class="medium material-icons">library_music</i>
                        div#quoteEx
                            p.quote 아리아,<br>인기 음악 틀어줘
                            p.quotes 아리아, 김광석의 사랑했지만 들려줘
                            p.quotes 아리아, 이 노래 뭐야?

                    footer.cd-footer.light-blue.clear
                        i.material-icons.fl.dis error
                        a( href="/account" ).fr.dis 계정 연결하기 >
            
            //- Jin: Service card            
            li.cd.tutorial
                .card-wrap.pink.lighten-1
                    div.cd-content
                        header <i class="medium material-icons">store</i>
                        p.quote 아리아,<br>피자 주문해줘
                        p.quotes 아리아, 도미노 피자 언제와?
                        p.quotes 아리아, 도미노 피자 주문상태 알려줘
                    footer.cd-footer.pink.darken-1
                        p.desc2
                            누구가 새롭게 시작한 피자 주문 서비스! 이제 아리아를 통해 맛있는 피자를 배달 시켜 보세요~ 첫 주문시 <b>웨지감자</b> 서비스 이벤트는 덤으로 챙길 수 있어요!
                        a( href="#!" ).right.string-link.single 이벤트 보러가기
            
            //- Jin: Skills 카드
            li.cd.tutorial
                .card-wrap.blue.lighten-1
                    div.cd-content
                        header <i class="medium material-icons">local_taxi</i>
                        p.quote 아리아,<br>'택시콜' 열어줘
                        p.quotes 아리아, 오후 3시에 택시 불러줘
                        p.quotes 아리아, 5시에 예약한 콜택시 취소해줘
            
            //- Jin's card end


            //- Kim's cards
            
            //- Kim: GPS 연결 필요
            li.cd.tutorial
                .card-wrap.indigo.lighten-2
                    div.cd-content
                        header <i class="medium material-icons">wb_sunny</i>
                        p.quote 아리아,<br>오늘 날씨 어때?

                        p.desc 날씨 안내를 위해 GPS를 켜고<br>누구에게 말 해 보세요

                    footer.cd-footer.clear.indigo
                        i.material-icons.fl.dis error
                        a( href="/account" ).fr.dis GPS 켜기 >
    
            li.cd.tutorial
                .card-wrap.indigo.lighten-2
                    div.cd-content
                        header <i class="medium material-icons">wb_sunny</i>
                        p.quote 아리아,<br>오늘 날씨 어때?

                        p.desc NUGU를 통해 OOOO의 날씨를 알 수 있습니다.<br>위와 같이 말 해 보세요
            
            //- Kim: advance
            li.cd.tutorial
                .card-wrap.indigo.lighten-2
                    div.cd-content
                        header <i class="medium material-icons">wb_sunny</i>
                        p.quote 아리아,<br>주말 부산 날씨 알려줘
                        p.quotes 아리아, 내일 날씨 어때?
                        p.quotes 아리아, 12월 3일 날씨 어때?
            
            //- Kim: advance+
            li.cd.tutorial
                .card-wrap.indigo.lighten-2
                    div.cd-content
                        header <i class="medium material-icons">wb_sunny</i>
                        p.quote 아리아,<br>내일 포항 눈 와?
                        p.desc 현재 위치의 날씨를 알고 싶으세요?<br>위치 정보를 업데이트 해 보세요.
            
            //- Kim: Commerce
            li.cd.tutorial
                .card-wrap.red
                    div.cd-content
                        header <i class="medium material-icons">wb_sunny</i>
                        p.quote 아리아,<br>11번가 오늘 뭐 있어?
                        p.quotes 아리아, 11번가 주문해줘
                        p.quotes 아리아, 11번가 주문해줘 책 주문해줘
                        p.desc 11번가 계정과 배송지, 결제 수단을 입력하고 11번가를 사용해 보세요

                    footer.cd-footer.clear.red.darken-2
                        i.material-icons.fl.dis error
                        a( href="/account" ).fr.dis 설정하기 >
            
            //- Kim: 결제완료후
            li.cd.tutorial
                .card-wrap.red
                    div.cd-content
                        header <i class="medium material-icons">wb_sunny</i>
                        p.quote 아리아,<br>11번가 배송조회 해줘
                        p.quotes 아리아, 11번가 택배 어디야?
                        p.quotes 아리아, 11번가 추천상품 뭐있어?

            //- Kim: 배송완료 후 N일 후
            li.cd.tutorial
                .card-wrap.red
                    div.cd-content
                        header <i class="medium material-icons">wb_sunny</i>
                        p.quote 아리아,<br>11번가 주문 취소해줘
                        p.quotes 아리아, 11번가 오늘 뭐있어?
                        p.quotes 아리아, 11번가 베스트셀러가 뭐야?

            //- Kim's card end

            li.cd.tutorial
                .card-wrap.light-blue.lighten-2
                    div.cd-content
                        header <i class="medium material-icons">library_music</i>
                        p.quote 아리아,<br>음악 들려줘 :)

                    footer.cd-footer.light-blue.clear
                        i.material-icons.fl.dis error
                        a( href="/account" ).fr.dis 계정 연결이 필요합니다 >

            li.cd.tutorial
                .card-wrap.indigo.lighten-2
                    div.cd-content
                        header <i class="medium material-icons">today</i>
                        p.quote 아리아, 굿모닝!
                        p.desc NUGU와 하루를 시작해 보세용.<br>'오늘의 날씨, 일정, 뉴스'를 한번에 알려드립니당~

                    footer.cd-footer.clear.indigo
                        i.material-icons.fl.dis error
                        p.fr.dis 계정 연결이 필요합니다 >

            li.cd.tutorial
                .card-wrap.pink.lighten-1
                    div.cd-content
                        header <i class="medium material-icons">store</i>
                        p.quote 아리아,<br>도미노 피자 시켜줘!
                        p.desc2 '아리아, 포테이토 피자 시켜줘'<br>'아리아, 베이컨 체다치즈 나폴리 도우로 시켜줘'

            li.cd.tutorial
                .card-wrap.pink.lighten-1
                    div.cd-content 주변 블럭과 관련 이벤트~

            li.cd.tutorial
                .card-wrap.blue.lighten-1
                    div.cd-content
                        header <i class="medium material-icons">settings_remote</i>
                        p.quote 아리아,<br>거실 불좀 꺼줄래?
                        p.desc2 '아리아, 포테이토 피자 시켜줘'<br>'아리아, 베이컨 체다치즈'
                        p.desc NUGU와 하루를 시작해 보세용.<br>'오늘의 날씨, 일정, 뉴스'를 한번에 알려드립니당~

                    footer.cd-footer.blue.darken-1
                        ul.action-list.tr
                            li 스마트홈 알아보기 >
                            li 스마트홈 연결 >
            
            li.cd.tutorial
                .card-wrap.red.lighten-1
                    div.cd-content
                        header <i class="medium material-icons">loyalty</i>    
                        p.quote 아리아,<br>기념일 말해줄래?
                        p.desc '이번달엔 장모님 생신이 있고~ 결혼 2주년입니다~'
                    .clear.cd-ui-container
                        i.material-icons.small.fr keyboard_arrow_down
                
