extends layout/mobile

block content
      section#inner-page &nbsp;
      main#main
            //- masonry sizer ( blank elem )
            div.masonry-size
            //- categories
            ul#cards
                  //- each cat in categories
                  //-       li.cd.cd-category
                  //-             .cd-content
                  //-                   i.material-icons= cat.icon
                  //-                   h1= cat.title
                  //-       - if ( cat.childs )
                  //-             each child in cat.childs
                  //-                   li.cd.cd-category-child
                  //-                         .cd-content
                  //-                               h1= child.title