extends layout/mobile

block content
    main#main
        ul#cards
            //- empty elem for masonry grid size
            li.grid-size
            
            li.cd.cd-2: div.card-wrap.light-blue: .cd-content: header
                  i.small.material-icons music_note
                  음악
            li.cd.cd-1: div.card-wrap.light-blue.lighten-2: .cd-content: header 멜론

            li.cd.cd-2: div.card-wrap.red: .cd-content: header
                  i.small.material-icons settings_remote
                  스마트홈
            li.cd.cd-1: div.card-wrap.red.lighten-1: .cd-content: header 조명
            li.cd.cd-1: div.card-wrap.red.lighten-1: .cd-content: header 스마트플러그
            li.cd.cd-1: div.card-wrap.red.lighten-1: .cd-content: header 제습기
            li.cd.cd-1: div.card-wrap.red.lighten-1: .cd-content: header 공기청정기
            li.cd.cd-1: div.card-wrap.red.lighten-1: .cd-content: header 에어워셔
            li.cd.cd-1: div.card-wrap.red.lighten-1: .cd-content: header 보일러
            li.cd.cd-1: div.card-wrap.red.lighten-1: .cd-content: header 에어컨
            li.cd.cd-1: div.card-wrap.red.lighten-1: .cd-content: header 가스차단기

            li.cd.cd-2: div.card-wrap.cyan.lighten-1: .cd-content: header
                  i.small.material-icons video_library
                  미디어
            li.cd.cd-1: div.card-wrap.cyan.lighten-2: .cd-content: header 팟캐스트
            li.cd.cd-1: div.card-wrap.cyan.lighten-2: .cd-content: header 데일리브리핑

            li.cd.cd-2: div.card-wrap.lime: .cd-content: header
                  i.small.material-icons motorcycle
                  주문/배달
            li.cd.cd-1: div.card-wrap.lime: .cd-content: header 도미노피자
            li.cd.cd-1: div.card-wrap.lime: .cd-content: header BBQ

            li.cd.cd-2: div.card-wrap.amber: .cd-content: header
                  i.small.material-icons assignment_ind
                  개인비서
            li.cd.cd-1: div.card-wrap.amber: .cd-content: header 구글캘린더
            li.cd.cd-1: div.card-wrap.amber: .cd-content: header 알람
            li.cd.cd-1: div.card-wrap.amber: .cd-content: header 날씨
            li.cd.cd-1: div.card-wrap.amber: .cd-content: header 날짜확인
            li.cd.cd-1: div.card-wrap.amber: .cd-content: header 요일확인
            li.cd.cd-1: div.card-wrap.amber: .cd-content: header 시간확인

            li.cd.cd-2: div.card-wrap.purple: .cd-content: header
                  i.small.material-icons accessibility
                  유용한기능
            li.cd.cd-1: div.card-wrap.purple: .cd-content: header 무드등
            li.cd.cd-1: div.card-wrap.purple: .cd-content: header 타이머
            li.cd.cd-1: div.card-wrap.purple: .cd-content: header 수면예약
            li.cd.cd-1: div.card-wrap.purple: .cd-content: header 폰찾기
            li.cd.cd-1: div.card-wrap.purple: .cd-content: header 긴급알림
