extends layout/mobile

block content
    main#store
        ul.block-list
            li.blocks
                p test
            li.blocks
                p test
            li.blocks
                p test

        ul.store-list
            li.si